.slider {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.slide {
  min-width: 100%;
  transition: transform 0.3s;
}

.navigation {
  background: rgba(0,0,0,0.2);
  color: #fff;
  width: 80px;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.navigation:active {
  top: 1px;
}

.next {
  right: 0;
}